# Database Configuration
DATABASE_NAME=myhomedb
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_HOST=localhost
DATABASE_PORT=3306

# Secret Key
SECRET_KEY=django-insecure-your-secret-key-here

# MQTT Configuration
MQTT_SERVER_IP=192.168.0.254
MQTT_SERVER_PORT=1883

# Kafka Configuration
KAFKA_SERVER_IP=192.168.0.254:9092
